$dark-base: #1c1c1c;
$light: #F0F0F6;
$black: #131313;
$bar-black: #0f0f0f;
$orange: #f78f42;
$orange-hover: #ffb400f2;
$dark-orange: #f78f421a;
$white-base: #ffffff;
$black-base: #2B2B2B;
$gray: #767676;
$gray-hover: #BFC2C9;
$green: #3cb371;
